{% extends 'layout.html' %}
{% block content %}
<div class="mb-2 text-center"><h3>Editar Linguagem</h3></div>
<form action="/update_ling" method="POST">
    {% for linha in empregado %}
        <div class="row mb-3">
            <div class="col">
                <label class="text-light" for="id">ID:</label>
                <input type="text" id="id" class="form-control" value="{{ linha['id'] }}" disabled placeholder="ID gerado automaticamente pelo sistema">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">            
                <label class="text-light" for="nome">Linguagem:</label>
                <input type="text" id="nome" class="form-control" value="{{ linha['nome'] }}" name="nome" placeholder="Nome da Linguagem" required>
            </div>
            <div class="col">            
                <label class="text-light" for="descricao">Descricao:</label>
                <input type="text" id="descricao" class="form-control" value="{{ linha['descricao'] }}" name="descricao" placeholder="Descricao da Linguagem" required>
            </div>
        </div>
        <input type="hidden" name="id" value="{{ linha['id'] }}">
        <div class="row text-center">
            <button type="submit" class="btn btn-success col-2 mt-2">Cadastrar Equipe</button>
        </div>
    {% endfor %}
</form>

{% endblock %}