{% extends 'layout.html' %}
{% block content %}
<div class="mb-2 text-center"><h3>Cadastro de Linguagem</h3></div>
<form action="/salvar_ling" method="POST">
    <div class="row mb-3">
        <div class="col">
            <label class="text-light" for="id">ID:</label>
            <input type="text" id="id" class="form-control" name="id" disabled placeholder="ID gerado automaticamente pelo sistema">
        </div>
    </div>
    <div class="row mb-3">  
        <div class="col">            
            <label class="text-light" for="nome">Linguagem:</label>
            <input type="text" id="nome" class="form-control" name="nome" placeholder="Nome da Linguagem" required>
        </div>
        <div class="col">            
            <label class="text-light" for="descricao">Descrição:</label>
            <input type="text" id="descricao" class="form-control" name="descricao" placeholder="Descreva a linguagem" required>
        </div>
    </div>
    <div class="row text-center">
        <button type="submit" class="btn btn-success col-2 mt-2 ml-3">Cadastrar Linguagem</button>
    </div>
</form>

{% endblock %}