{% extends 'layout.html' %}
{% block content %}
<div class="mb-2"><h3>Editar Funcionarios</h3></div>
<form action="/salvar" method="POST">
    {% for linha in cliente %}
        <div class="row mb-3">
            <div class="col">
                <label class="text-light" for="id">ID:</label>
                <input type="text" id="id" class="form-control" disabled name="id" value="{{ linha['id'] }}" placeholder="ID gerado automaticamente pelo sistema">
                <span><h6 class="text-warning">Por motivos de segurança o ID do cliente não pode ser alterado!</h6></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="text-light" for="nome">Nome:</label>
                <input type="text" id="nome" class="form-control" name="nome" value="{{ linha['nome'] }}" placeholder="Primeiro nome">
            </div>
            <div class="col">            
                <label class="text-light" for="sobrenome">Sobrenome:</label>
                <input type="text" id="sobrenome" class="form-control" name="sobrenome" value="{{ linha['sobrenome'] }}" placeholder="Segundo nome">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col p-0">
                    <label class="text-light" for="cpf">CPF:</label>
                    <input type="text" id="cpf" class="form-control" name="cpf" value="{{ linha['cpf'] }}" placeholder="999.999.999-99" maxlength="14">
                </div>
            </div>
            <div class="col">
                <label class="text-light" for="cargo">Cargo:</label>
                <input type="text" id="cargo" class="form-control" name="cargo" value="{{ linha['cargo'] }}" disabled placeholder="Preencha o cargo do funcionario">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="text-light" for="salario">Salario:</label>
                <input type="text" id="salario" class="form-control" name="salario" value="{{ linha['salario'] }}" placeholder="Primeiro salario" required>
            </div>
            <div class="col">            
                <label class="text-light" for="carga_horaria">Carga Horaria:</label>
                <input type="text" id="carga_horaria" class="form-control" name="carga_horaria" value="{{ linha['carga_horaria'] }}" placeholder="Segundo nome" required>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <button type="submit" class="btn btn-success mt-2">Enviar</button>
            </div>
        </div>
    {% endfor %}
</form>

{% endblock %}